<H1> Blog Application </H1>

<a href = "newpost"> Create new post</a>
<%  @post.live.each do |post|%>
<div>
    <a href = "post/<%= post.id%>"> 
    <h2><%= post.title%></h2>
    </a>
    <p><%= post.content%> </p>
    <hr>
    </div>
<% end%>