<h3>Comments</h3>

<div class="comments-container">
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <p><strong><%= comment.username %></strong>: <%= comment.content %></p>
        </div>
    <% end %>
</div>
